extends ../layout

block content
	#mySidenav.sidenav.open
		//- a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
		div.title Szűrés
		div.row.filter-content
			div.col-md-12
				div.form-group
					label(for="modelling") Modellezések
					select(name="modelling" id="modelling" class="form-control" disabled=(modellings ? false : true))
						if modellings
							each m in modellings
								option(value=m.id)=m.name
						else
							option(value="null") Nincs megjelenítendő adat
			div.col-md-12
				div.form-group
					label(for="dataload") Adatbetöltések
					select(name="dataload" id="dataload" class="form-control")
			if(post_link_name == "time_data" || post_link_name == "flow_out_data" || post_link_name == "flow_in_data")
				div.col-md-12
					div.form-group
						label(for="profile") Profilok
						select(name="profile" id="profile" class="form-control")
			div.col-md-12
				div.form-group
					label(for="datetimeselect") Időintervallum
					input(type="text" name="datetimeselect" id="datetimeselect" class="form-control")
					i.glyphicon.glyphicon-calendar.fa.fa-calendar
			div.col-md-12
				input(type="button" id="dataget_btn" class="get-data-button btn btn-primary pull-right" value="Lekérdezés")
			//- div.col-md-12
				input(type="button" id="map_btn" class="btn btn-primary pull-right" value="Map")
	div.container-fluid.mt10
		div.row.river.narrow
			div.col-md-7.river-map
				div.panel.panel-default
					div.panel-heading
						h3.panel-title.pull-left Térkép
						div.profile_info.pull-right
						div.clearfix
					div.panel-body
						div.row
							div.col-md-12
								#map
								<span id="info" style="position:absolute; left:15px; bottom:5px; font-weight: bold; font-family: arial; font-size: 16px; color:#000000; z-index:994;"></span>
			div.col-md-5.river-data
				div.panel.panel-default
					div.panel-heading
						h3.panel-title.pull-left Adatok
						div.pull-right=dataTypeName
						div.clearfix
					div.panel-body
						div.row(id="data_table_head")
						div.row(id="data_table")
					div.panel-footer
						div#data_table_datetime.pull-left
						div#data_table_profile.pull-right
						div.clearfix
			div.col-md-12.river-trend
				div.panel.panel-default
					div.panel-heading
						h3.panel-title.pull-left Grafikon
						div.pull-right=dataTypeName
						div.clearfix
					div.panel-body
						div.row
							div.col-md-12
								canvas(id="myChart")
					div.panel-footer
						div.clearfix
block scripts
	script(type="text/javascript").
		var post_link_name = "#{post_link_name}";        
		var dateStart, dateEnd, actDataTpye="#{act_data_type}";	
		var graph_color_array = [
			"rgba(32,53,10360, .7)",
			"rgba(53,167,156, .7)",
		];
        
		function closeNav(){
			$('#mySidenav').toggleClass('open');
		}

		function loadDataToDataloads(data_type, modelling_id, pageload){
			//Beviteli mezők tiltása
			var o1 = $('<option>', {value: ''}).text('Nincs megjelenítendő adat.');
			o1.appendTo($('#dataload'));
			$('#dataload').prop('disabled', 'disabled');
			var o2 = $('<option>', {value: ''}).text('Nincs megjelenítendő adat.');
			o2.appendTo($('#profile'));
			$('#profile').prop('disabled', 'disabled');
			$('#datetimeselect').prop('disabled', 'disabled');
			$('#dataget_btn').prop('disabled', 'disabled');

			//Adatbeviteli datok lekérdezése
			$.post( "/rivers/filter/"+post_link_name+"/dataloads", 
				{
					data_type: data_type,
					modelling_id: modelling_id
				},
				function( data ) {
					$('#dataload option').remove();
					$('#profile option').remove();
					$('#dataload').prop('disabled', false);
					$('#profile').prop('disabled', false);
					$('#datetimeselect').prop('disabled', false);
					$('#dataget_btn').prop('disabled', false);
					if(data){
						console.log(data);			
						if(data.length){
							//Adatbetöltések select adatainak frissítése							
							$.each(data, function(i, v){
								var o = $('<option>', {value: v.description_id}).text(v.user_description);
								o.appendTo($('#dataload'));
							});
							if(post_link_name == "time_data" || post_link_name == "flow_out_data" || post_link_name == "flow_in_data"){
								loadDataToProfiles(data[0].description_id, pageload, data_type);
							}else if(post_link_name == "location_data"){
								console.log(data[0]);
								setDateTimePicker(data[0].date_from, data[0].date_to, pageload, data_type)
							}
						}
						//- else{
						//- 	//- var c1 = $('<div class="col-md-12">Nincs megjelenítendő adat.</div>');
						//- 	//- c1.appendTo($('#data_table'));
						//- }
					}
					//- else{
					//- 	var o1 = $('<option>', {value: ''}).text('Nincs megjelenítendő adat.');
					//- 	o1.appendTo($('#dataload'));
					//- 	$('#dataload').prop('disabled', 'disabled');
					//- 	var o2 = $('<option>', {value: ''}).text('Nincs megjelenítendő adat.');
					//- 	o2.appendTo($('#profile'));
					//- 	$('#profile').prop('disabled', 'disabled');
					//- 	$('#datetimeselect').prop('disabled', 'disabled');
					//- 	$('#dataget_btn').prop('disabled', 'disabled');
					//- }
			});
		}

		function loadDataToProfiles(dataload_user_description,pageload, dataType){
			$.post( "/rivers/filter/"+post_link_name+"/profiles", 
				{
					user_description: dataload_user_description
				},
				function( data ) {
				if(data){
					if(data.length){
						//Profilok select adatainak frissítése						
						$.each(data, function(i, v){
							var o = $('<option>', {value: v.profile_id}).text(v.profile_name);
							o.appendTo($('#profile'));
						});
						console.log('loadDataToProfiles(): ' + data[0].date_from);
						setDateTimePicker(data[0].date_from, data[0].date_to, pageload, dataType)
					}else{
						//- var c1 = $('<div class="col-md-12">Nincs megjelenítendő adat.</div>');
						//- c1.appendTo($('#data_table'));
					}
				}else{
					
				}
			});
		}

		function setDateTimePicker(mindate, maxdate, pageload, dataType){

			moment.locale('hu');	

			console.log('dataType: '+dataType);
			if(dataType == 0 || dataType == 1 || dataType == 4 || dataType == 5 || dataType == 6 || dataType == 14){
				var isTimePicker = false;
				var isSingleDatePicker = false;
				var format = "YYYY. MM. DD.";
			}else if(dataType == 2 || dataType == 3){
				var isTimePicker = true;
				var isSingleDatePicker = true;
				var format = "YYYY. MM. DD. HH:mm";
			}

			//var format = 'YYYY. MM. DD.';
			var today = moment().format(format);
			var yesterday = moment().subtract(1, 'days').format(format);
			var last7day = moment().subtract(7, 'days').format(format);
			var last30day = moment().subtract(30, 'days').format(format);
			var thisMonthFirstDay = moment().startOf('month').format(format);
			var thisMonthLastDay = moment().endOf('month').format(format);
			var lastMonthFirstDay = moment().subtract(1, 'month').startOf('month').format(format);
			var lastMonthLastDay = moment().subtract(1, 'month').endOf('month').format(format);
			var minDate = moment(mindate).format(format);
			var maxDate = moment(maxdate).format(format);

			var defaultDateStart = moment(maxDate).startOf('month').format(format);
			var defaultDateEnd = maxDate;

			//Alapértelmezetten az adatlekéréshez inicializálni kell
			dateStart = defaultDateStart;
			dateEnd = defaultDateEnd;

			

			$('input[name="datetimeselect"]').daterangepicker({
				"timePicker24Hour": true,
				"locale": {
					"direction": "ltr",
					"format": format,
					"separator": " - ",
					"applyLabel": "Ok",
					"cancelLabel": "Mégse",
					"fromLabel": "Tól",
					"toLabel": "Ig",
					"customRangeLabel": "Egyedi",
					"daysOfWeek": [
						"V",
						"H",
						"K",
						"Sze",
						"Cs",
						"P",
						"Szo"
					],
					"monthNames": [
						"Január",
						"Február",
						"Március",
						"Április",
						"Május",
						"Június",
						"Július",
						"Augusztus",
						"Szeptember",
						"Október",
						"November",
						"December"
					],
					"firstDay": 1
				},
				"minDate": minDate,
				"maxDate": maxDate,
				"startDate": defaultDateStart,//thisMonthFirstDay,
				"endDate": defaultDateEnd,//thisMonthLastDay,
				"opens": "center",
				"buttonClasses": "btn",
				"applyClass": "btn btn-primary",
				"timePicker": isTimePicker,
				"singleDatePicker": isSingleDatePicker
			}, function(start, end, label) {
				dateStart = start.format(format);
				dateEnd = end.format(format);
				//console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
				//getData(dateStart, dateEnd);
			});
			if(pageload){
				getData(dateStart, dateEnd, dataType);
			}
		}

		function getData(dStart, dEnd, dataType){
			//console.log(dStart);
			console.log('Getting data...')
			var selected_dataload = $('select[name=dataload]').val();
			var selected_profile = $('select[name=profile]').val();
			$.post( "/rivers/filter/"+post_link_name+"/data", 
				{
				data_type: actDataTpye,
				profile_id: selected_profile,
				date_start: dStart,
				date_end:dEnd,
				dataload: selected_dataload
				},
				function( data ) {
				if(data){					
					if(data.length){
						dataToChart(myLineChart, data, dataType);
						dataToAdatok(data, selected_profile, dataType);
					}else{
						var c1 = $('<div class="col-md-12">Nincs megjelenítendő adat.</div>');
						c1.appendTo($('#data_table'));
					}
				}else{
					
				}
			});
		}

		function dataToChart(c, d, dataType){
			//console.log('dataToChart dataType: '+dataType);
			//console.log('dataToChart d: '+d);
			var dataset_array = [];		
			var data_set = {
				type: 'line',
				yAxisID: 'A',
				data: [
					//- {
					//- 	x: -12,
					//-     y: 70
					//-     }, {
					//-     x: 15,
					//-     y: 35
					//- }
					],
				fill: false,
				showLine: true,
				backgroundColor: graph_color_array[0],
				borderColor: graph_color_array[0],
				// pointRadius: 0
			}
			$.each(d, function(j,w){
				if(dataType == 0 || dataType == 1 || dataType == 4|| dataType == 5|| dataType == 6 || dataType == 14){
					//console.log(w);
					//- data_set.data.push({x:moment(w.date_time_for).format('YYYY. MM. DD. HH:ss'), y: w.value});
					data_set.data.push({x:moment(w.date_time_for).format('YYYY. MM. DD.'), y: w.value});
				}else if(dataType == 2 || dataType == 3){
					data_set.data.push({x:w.profile_name, y: w.value});
				}
			});
			dataset_array.push(data_set);	
			if(dataType == 14){
				var diff_data_set = {
					yAxisID: 'B',					
					data: [
						//- {
						//- 	x: -12,
						//-     y: 70
						//-     }, {
						//-     x: 15,
						//-     y: 35
						//- }
						],
					fill: false,
					showLine: true,
					backgroundColor: graph_color_array[1],
					borderColor: graph_color_array[1],
					// pointRadius: 0
				}
				$.each(d, function(j,w){
					var prev_value = j > 0 ? d[j-1].value : 0;
					var diff_value = j > 0 ? w.value - prev_value : 0;
					diff_data_set.data.push({x:moment(w.date_time_for).format('YYYY. MM. DD.'), y: diff_value});
				});
				dataset_array.push(diff_data_set);	
			}
			
			
			c.data.datasets = dataset_array;
			c.update();
		}

		function dataToAdatok(d, profile_id, dataType){
			$('#data_table').html('');
			$('#data_table_head').html('');

			if(dataType == 0 || dataType == 1 || dataType == 4|| dataType == 5|| dataType == 6 || dataType == 14){
				$('#data_table_datetime').html('Idő intervallum: ' + dateStart + ' - ' + dateEnd);
				$('#data_table_profile').html('Szelvény: ' + $('select[name=profile] option[value="'+profile_id+'"]').text());
				if(dataType == 0){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m3/s)'+'</div>');
				}else if(dataType == 1){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m)'+'</div>');
				}else if(dataType == 4){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m3)'+'</div>');
				}else if(dataType == 5 || dataType == 6){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m3/s)'+'</div>');
				}else if(dataType == 14){
					var h1 = $('<div class="col-md-4">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-4">'+'Érték (m3)'+'</div>');
					var h3 = $('<div class="col-md-4">'+'Változás (m3)'+'</div>');
				}
			}else if(dataType == 2 || dataType == 3){
				$('#data_table_datetime').html('Időpont: ' + dateStart);
				$('#data_table_profile').html('');
				if(dataType == 3){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m3/s)'+'</div>');
				}else if(dataType == 2){
					var h1 = $('<div class="col-md-6">'+'Időpont'+'</div>');
					var h2 = $('<div class="col-md-6">'+'Érték (m)'+'</div>');
				}			
			}

			
			h1.appendTo($('#data_table_head'));
			h2.appendTo($('#data_table_head'));
			if(dataType == 14){
				h3.appendTo($('#data_table_head'));
			}

			$.each(d, function(j,w){
				var bg_color = '';
				if(j%2)
					bg_color = 'gray-bg';
				else
					bg_color = 'white-bg';

				if(dataType == 0 || dataType == 1 || dataType == 4|| dataType == 5|| dataType == 6){
					//- var c1 = $('<div class="col-md-6 '+bg_color+'">'+moment(w.date_time_for).format('YYYY. MM. DD. HH:ss')+'</div>');
					var c1 = $('<div class="col-md-6 '+bg_color+'">'+moment(w.date_time_for).format('YYYY. MM. DD.')+'</div>');
					var c2 = $('<div class="col-md-6 '+bg_color+'">'+w.value+'</div>');
				}else if(dataType == 2 || dataType == 3){
					var c1 = $('<div class="col-md-6 '+bg_color+'">'+w.profile_name+'</div>');					
					var c2 = $('<div class="col-md-6 '+bg_color+'">'+w.value+'</div>');
				}else if(dataType == 14){
					var c1 = $('<div class="col-md-4 '+bg_color+'">'+moment(w.date_time_for).format('YYYY. MM. DD.')+'</div>');
					var c2 = $('<div class="col-md-4 '+bg_color+'">'+w.value+'</div>');
					var prev_value = j > 0 ? d[j-1].value : 0;
					var diff_value = j > 0 ? w.value - prev_value : 0;
					var c3 = $('<div class="col-md-4 '+bg_color+'">'+diff_value+'</div>');
				}

				c1.appendTo($('#data_table'));
				c2.appendTo($('#data_table'));
				if(dataType == 14){
					c3.appendTo($('#data_table'));
				}
			});
		}
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js")
	script(src="/javascripts/river_chart.js")
	script(type="text/javascript").
		var dojoConfig = {
			parseOnLoad: true,
			path: {
				//if you want to host on your own server, download and put in folders then use path like:
			}
		}
	script(src="https://js.arcgis.com/3.23/")
	script(src="/javascripts/init_arcgis_map.js")
	script(type="text/javascript").
		$(document).ready(function () {
			var selectedModelling = $('select[name=modelling]').val();
			loadDataToDataloads(actDataTpye, selectedModelling, true);

			$('select[name=modelling]').change(function(){
				console.log('Modelling select change...');
				loadDataToDataloads(actDataTpye, $(this).val(), false);
			});

			$('select[name=dataload]').change(function(){
				console.log('Dataload select change...');
				loadDataToProfiles($(this).val(), false,actDataTpye);
			});

			$('select[name=profile]').change(function(){
				console.log('Profile select change...');
				$("div.profile_info").html('');
			});

			$(".get-data-button").on("click", function(){
				console.log('Downloading data from server...');
				getData(dateStart, dateEnd, actDataTpye);
			});
		});