extends ./master

block body
	.wrapper.footer_fixed
		// Sidebar Holder
		nav#sidebar
			.sidebar-header
				img(src="/images/ovf_logo.png", alt="OVF" width="30")
				a(href="/")
					h3 Vízkészlet-gazdálkodás
			ul.list-unstyled.components
				if !river_page
					p Igazgatóságok
					if directorates
						each d in directorates
							li
								if d.rivers
									a(href="#homeSubmenu_"+d.id id="directorate_link_"+d.id data-map=d.map_id data-toggle="collapse" aria-expanded="false")=d.name
								else
									a(href="#homeSubmenu_"+d.id id="directorate_link_"+d.id data-map=d.map_id data-toggle="collapse")=d.name
								if d.rivers
									ul(id="homeSubmenu_"+d.id, class="collapse list-unstyled")
										each r in d.rivers
											li
												a(href="/rivers/"+r.id+"/data-type/0")=r.name
				else
					p Adat típusok
					each data_type in data_types
						li(class=(act_data_type==data_type.id ? 'active' : ''))
							a(href="/rivers/"+river.id+"/data-type/"+data_type.id)=data_type.name
				//- li.active
				//- 	a(href="#homeSubmenu" data-toggle="collapse" aria-expanded="false") Igazgatóságok
				//- 	ul#homeSubmenu.collapse.list-unstyled
				//- 		each d in directorates
				//- 			li
				//- 				a(href="#")=d.name
						//- li
						//- 	a(href="/map") Map
						//- li
						//- 	a(href="#") Home 2
						//- li
						//- 	a(href="#") Home 3
				//- li
				//- 	a(href="#") About
				//- 	a(href="#pageSubmenu" data-toggle="collapse" aria-expanded="false") Pages
				//- 	ul#pageSubmenu.collapse.list-unstyled
				//- 		li
				//- 			a(href="#") Page 1
				//- 		li
				//- 			a(href="#") Page 2
				//- 		li
				//- 			a(href="#") Page 3
				//- li
				//- 	a(href="#") Portfolio
				//- li
				//- 	a(href="#") Contact
			ul.list-unstyled.CTAs
				li
					a.download(href="/modelling_import") Adat betöltés
				li
					a.download(href="/river_import") Modellterület betöltés
			//- ul.list-unstyled.CTAs
				li
					a.download(href="https://bootstrapious.com/tutorial/files/sidebar.zip") Download source
				li
					a.article(href="https://bootstrapious.com/p/bootstrap-sidebar") Back to article
		// Page Content Holder
		#content
			nav.navbar.navbar-default.navbar-fixed-top
				.container-fluid
					.navbar-header
						button#sidebarCollapse.btn.btn-info.navbar-btn(type="button")
							i.glyphicon.glyphicon-align-left
							span
					h2=title
					if(river_page)
						.navbar-header.pull-right
							button#rightSidebarCollapse.btn.btn-info.navbar-btn(type="button")
								i.glyphicon.glyphicon-filter
								span
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						if user
							ul.nav.navbar-nav.navbar-right
								li
									a(href="/users/profile/"+user._id)=user.username
								li
									a(href="/users/logout") Kijelentkezés
								//- li
								//- 	a(href="#") Page
								//- li
								//- 	a(href="#") Page
			block content
		footer
			.pull-right
				| Készítette: 
				a(href="http://controlsoft.hu") Controlsoft Kft.
			.clearfix