extends ../layout

block content
	div.container-fluid.mt10
		div.row
			div.col-md-10
			//- 	h1=title
			div.col-md-2
				a(href="/modelling_import/create" class="btn btn-primary pull-right btn-new") Új modellezés
		table.table.table-striped
			thead
				tr
					th Megnevezés
					th Leírás
					th Időszak
					th Vízfolyás
					th.text-right Műveletek
			tbody
				if(modellings)
					each m in modellings
						tr
							td=m.name
							td=m.description
							td=m.date_for
							td=m.river_name
							td
								a(href="/modelling_import/"+m.id+"/data" class="btn btn-info pull-right")
									span.glyphicon.glyphicon-cloud-upload
								a(href="/modelling_import/"+m.id+"/update" class="btn btn-info pull-right mr5")
									span.glyphicon.glyphicon-edit
		div.row.pull-right
			div.col-md-12
				ul.pagination
					- for(var i = 1; i < page_count+1; i++)
						li
							a(href="/modelling_import?page="+i)=i
					
			
			
	